<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>{{ title }}</title>
</head>
<body>
    <h1>{{Service1}}</h1>
  <p>Welcome to {{title}}</p>

  {% if isAuthed %}
    You can see authenticated content
    <br/>
  {% endif %}

  {% if isLowAccess %}
    You can see low access content
    <br/>
  {% endif %}

  {% if isHighAccess %}
    You can see high access content
    <br/>
  {% endif %}

</body>
</html>